
nav {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
  }
  
  .navbar-toggle {
    display: none; 
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
  }
  
  li {
    margin-right: 1rem;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  a.active {
    color: #0d0202;
  }
  
  a:hover {
    color: #332828;
  }
 
  @media (max-width: 768px) {
    .navbar-toggle {
      display: block; 
    }
  
    .navbar-menu {
      display: none;
      flex-direction: column; 
      align-items: center;
      width: 100%;
    }
  
    .navbar-menu.open {
      display: flex; 
    }
  
    li {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
  